<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <div class="jumbotron">
      <h1 class="display-4">தமிழ்நாடு தேர்தல் வாக்கு எண்ணிக்கை முடிவு</h1>
  </div>
  <div class="row">
    <div *ngFor="let elementpr of partyResult; index as i" class="col-2">
      <div class="row">
        <div class="col-10 p-3 mb-2 bg-info text-white text-center font-weight-bold">{{ elementpr['partyName']['ta'] }}</div>
        <div class="row"><br>&nbsp;</div>
        <div class="col-6">வெற்றி</div>
        <div class="col-4 p-3 mb-2 bg-success text-white text-center font-weight-bold">{{ elementpr['winningTotal'] }} / {{ elementpr['participation'] }}</div>
      </div>
      <div class="row">
        <div class="col-6">முன்னிலை</div>
        <div class="col-4 p-3 mb-2 bg-warning text-white text-center font-weight-bold">{{ elementpr['leadingTotal'] }}</div>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead style="position: sticky;top: 0;" class="thead-dark">
    <tr>
      <th scope="col">எண்</th>
      <th scope="col">மாவட்டம்</th>
      <th scope="col">சட்டசபை தொகுதி</th>
      <th scope="col">சுற்று</th>
      <th scope="col">முன்னிலை</th>
      <th scope="col">வாக்குகள்</th>
      <th scope="col">முடிவு</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let element of result; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ element['districtName']['ta'] }}</td>
      <td>{{ element['name']['ta'] }}</td>
      <td>{{ element['currentRound'] }}</td>
      <td class="bg-info text-white">{{ element['leader'] }}</td>
      <td>{{ element['voteCount'] }}</td>
      <td>{{ element['resultAnnounced'] }}</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
